assets/css/*.min.css
assets/js/*.min.js
node_modules/
vendor/
build/
.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
*.sql
*.tar.gz
*.zip
.idea
.env*
log
package-lock.json
webpack.config.min.js

























