#menu-posts-podcast .wp-menu-image {
  background: none;
  background-image: url(../images/podcast-icon.png);
  background-position: 7px -132px !important;
  background-repeat: no-repeat;
}
#menu-posts-podcast.wp-menu-open .wp-menu-image,
#menu-posts-podcast:hover .wp-menu-image {
  background-position: 7px -164px !important;
}
#icon-edit.icon32-posts-podcast, #ss_podcasting-icon.icon32 {
  background: transparent url(../images/podcast-icon.png) no-repeat left top;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
  #menu-posts-podcast .wp-menu-image {
    background-image: url(../images/podcast-icon@x2.png);
    background-size: 32px 187px;
  }
  #icon-edit.icon32-posts-podcast, #ss_podcasting-icon.icon32 {
    background-image: url(../images/podcast-icon@x2.png);
    background-size: 32px 187px;
  }
}
