#dashboard_right_now a.podcast-count:before, #dashboard_right_now span.podcast-count:before {
    content: "\f482";
}

.feed-series-list-container {
    margin-top: 8px;
}

#feed-series-toggle {
    cursor: pointer;
    float: left;
    margin-top: 5px;
    color: #aaa;
}

#feed-series-toggle:hover {
    color: #777;
}

#feed-series-toggle:before {
    font-family: dashicons;
    font-size: 150%;
}

#feed-series-toggle.series-open:before {
    content: "\f142";
}

#feed-series-toggle.series-closed:before {
    content: "\f140";
}

#feed-series-list {
    margin: 0;
}

.view-feed-link {
    text-decoration: none;
}

.view-feed-link span {
    font-size: 100%;
    margin-top: 2px;
    margin-bottom: -2px;
}

#podcast_settings .update-nag {
    margin: 0;
    padding: 1px 9pt;
}

textarea#episode_embed_code {
    width: 100%;
    height: 60px;
}

.episode_embed_code_size_option {
    width: 50px;
}

#podcast-episode-data p {
    line-height: 1.8;
}

#podcast-episode-data input[type="radio"] {
    vertical-align: middle !important;
}

#podcast-episode-data input[type="text"] {
    min-width: 50%;
}

.ssp-episode-details-label {
    font-weight: bold;
}