@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?yei6s2');
  src:  url('../fonts/icomoon.eot?yei6s2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?yei6s2') format('truetype'),
    url('../fonts/icomoon.woff?yei6s2') format('woff'),
    url('../fonts/icomoon.svg?yei6s2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" ssp-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering ========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ssp-icon-pause_icon:before {
  content: "\e900";
  line-height:1.5;
}
.ssp-icon-play_icon:before {
  content: "\e901";
  line-height:1.5;
}