#ssp-extensions .ssp-extension {
    background: #fff;
    border: 1px solid #ccc;
    float: left;
    padding: 14px;
    position: relative;
    margin: 0 15px 15px 0;
    width: 320px;
    height: 455px;
}

#ssp-extensions .ssp-extension .ssp-extension-title {
    font-size: 1.1em;
}

#ssp-extensions .ssp-extension .wp-post-image {
    width: 100%;
    height: auto;
}

#ssp-main-settings {
    width: 75%;
    float: left;
}

#ssp-sidebar {
    width: 23%;
    float: left;
    padding-left: 2%;
}

#ssp-sidebar .sidebar-content {
    background: #fff;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    overflow: hidden;
}

#ssp-sidebar .sidebar-content.castos-connected {
	border: none;
	background: none;
}

#ssp-sidebar .sidebar-content h3 {
    color: #6c25d0;
    margin: -20px -20px 0 -20px;
    padding: 20px;
    background-color: #f6f3ff;
}

#ssp-sidebar .sidebar-content p {
    color: #64748b;
}

#ssp-sidebar .sidebar-content img {
    width: 100%;
}

#ssp-sidebar .sidebar-content form {
    padding: 20px 20px 5px 20px;
    border-top: none;
}

#ssp-sidebar .sidebar-content form input {
    width: 100%;
    background-color: #f1f5f9;
    border-color: #cbd5e1;
    border-radius: 6px;
    font-size: 16px;
    color: #334155;
}

#ssp-sidebar .sidebar-content form input:focus {
    box-shadow: 0 0 0px 4px #ceb5fd;
    border-color: transparent !important;
    outline: none;
}

#ssp-sidebar .sidebar-content form label {
    font-weight: 600;
    color: #475569;
    margin: 16px 0 4px 0;
    display: block;
}

#ssp-sidebar .sidebar-content form div {
    margin: 10px 0;
}

#ssp-sidebar .sidebar-content input[type="submit"] {
    background-color: #6c25d0;
    color: #fff;
    border-radius: 6px;
    border-width: 1px;
    border-color: transparent;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    display: block;
    text-align: center;
}

#ssp-sidebar .sidebar-content input[type="submit"]:hover {
    background-color: #5a1fad;
    border-color: transparent !important;
    cursor: pointer;
}

#ssp-sidebar .sidebar-content input[type="submit"]:focus {
    box-shadow: 0 0 0px 4px #ceb5fd;
    border-color: transparent !important;
    outline: none;
}

.wp-admin #wpcontent #wpbody #podcast_settings.wrap h1 {
    display: block;
}
