.podcast_archive .podcast_full {
	width: 100%;
}

.podcast_archive .podcast_subscribe {
	margin: 10px 0;
}

.podcast_archive .podcast_episode {
	display: block;
	width: 23%;
	float: left;
	text-align: center;
	margin-right: 2%;
}

.podcast_archive .podcast_episode .podcast_meta {
	font-style: italic;
	font-size: 60%;
}

.podcast_template .podcast_left {
	float: left;
	width: 75%;
}

.podcast_template .podcast_right {
	float: right;
	width: 25%;
}

.podcast_template .podcast_clear, .podcast_archive .podcast_clear {
	clear: both;
}

.podcast_template .podcast_image {
	margin: 0 20px 20px 0;
}

.podcast_template .podcast_meta {
	font-style: italic;
	font-size: 80%;
	position: relative;
	z-index: 99;
}

.podcast_template .series_episodes .current_episode {
	font-weight: bold;
}