@charset "UTF-8";

@font-face {
  font-family: "gizmo";
  src:url("fonts/gizmo.eot");
  src:url("fonts/gizmo.eot?#iefix") format("embedded-opentype"),
    url("fonts/gizmo.woff") format("woff"),
    url("fonts/gizmo.ttf") format("truetype"),
    url("fonts/gizmo.svg#gizmo") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gizmo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gizmo" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-calendar:before {
  content: "\61";
}
.icon-add-cart:before {
  content: "\62";
}
.icon-add-file:before {
  content: "\63";
}
.icon-add-user:before {
  content: "\64";
}
.icon-address:before {
  content: "\65";
}
.icon-airplane:before {
  content: "\66";
}
.icon-airplay:before {
  content: "\67";
}
.icon-alarm-clock:before {
  content: "\68";
}
.icon-alert:before {
  content: "\69";
}
.icon-anatomical-heart:before {
  content: "\6a";
}
.icon-apple:before {
  content: "\6b";
}
.icon-approve-document:before {
  content: "\6c";
}
.icon-apron:before {
  content: "\6d";
}
.icon-arrival:before {
  content: "\6e";
}
.icon-ascend:before {
  content: "\6f";
}
.icon-atm:before {
  content: "\70";
}
.icon-audio-book:before {
  content: "\71";
}
.icon-backspace:before {
  content: "\72";
}
.icon-badminton:before {
  content: "\73";
}
.icon-balloon:before {
  content: "\74";
}
.icon-ballpoint-pen:before {
  content: "\75";
}
.icon-ban:before {
  content: "\76";
}
.icon-bandage:before {
  content: "\77";
}
.icon-bank:before {
  content: "\78";
}
.icon-banknote:before {
  content: "\79";
}
.icon-bar-chart:before {
  content: "\7a";
}
.icon-barbecue:before {
  content: "\41";
}
.icon-barbecue-fire:before {
  content: "\42";
}
.icon-barbecue-utensils:before {
  content: "\43";
}
.icon-barcode-scanner:before {
  content: "\44";
}
.icon-barometer:before {
  content: "\45";
}
.icon-baseball-glove:before {
  content: "\46";
}
.icon-bathroom-scale:before {
  content: "\47";
}
.icon-bbq-apron:before {
  content: "\48";
}
.icon-bean:before {
  content: "\49";
}
.icon-beer:before {
  content: "\4a";
}
.icon-bell:before {
  content: "\4b";
}
.icon-bell-disabled:before {
  content: "\4c";
}
.icon-bike:before {
  content: "\4d";
}
.icon-binoculars:before {
  content: "\4e";
}
.icon-bird:before {
  content: "\4f";
}
.icon-boiling-pan:before {
  content: "\50";
}
.icon-book:before {
  content: "\51";
}
.icon-bookmark:before {
  content: "\52";
}
.icon-books:before {
  content: "\53";
}
.icon-bowling:before {
  content: "\54";
}
.icon-box:before {
  content: "\55";
}
.icon-box-2:before {
  content: "\56";
}
.icon-boxing-glove:before {
  content: "\57";
}
.icon-bread:before {
  content: "\58";
}
.icon-briefcase:before {
  content: "\59";
}
.icon-broccoli:before {
  content: "\5a";
}
.icon-broken-bone:before {
  content: "\30";
}
.icon-bullseye:before {
  content: "\31";
}
.icon-bus:before {
  content: "\32";
}
.icon-bus-2:before {
  content: "\33";
}
.icon-business-user:before {
  content: "\34";
}
.icon-calculator:before {
  content: "\35";
}
.icon-calendar:before {
  content: "\36";
}
.icon-call-bell:before {
  content: "\37";
}
.icon-call-center:before {
  content: "\38";
}
.icon-camera:before {
  content: "\39";
}
.icon-camera-film:before {
  content: "\21";
}
.icon-camp-fire:before {
  content: "\22";
}
.icon-camper:before {
  content: "\23";
}
.icon-car:before {
  content: "\24";
}
.icon-cargoship:before {
  content: "\25";
}
.icon-carrot:before {
  content: "\26";
}
.icon-cash-register:before {
  content: "\27";
}
.icon-cell-phone:before {
  content: "\28";
}
.icon-cfl:before {
  content: "\29";
}
.icon-charcoal:before {
  content: "\2a";
}
.icon-charge-mobile:before {
  content: "\2b";
}
.icon-charging-battery:before {
  content: "\2c";
}
.icon-charging-battery-2:before {
  content: "\2d";
}
.icon-chat:before {
  content: "\2e";
}
.icon-check:before {
  content: "\2f";
}
.icon-check-calendar:before {
  content: "\3a";
}
.icon-check-clipboard:before {
  content: "\3b";
}
.icon-cheese:before {
  content: "\3c";
}
.icon-chef:before {
  content: "\3d";
}
.icon-chess:before {
  content: "\3e";
}
.icon-chicken-leg:before {
  content: "\3f";
}
.icon-clean-glass:before {
  content: "\40";
}
.icon-cloche:before {
  content: "\5b";
}
.icon-clock:before {
  content: "\5d";
}
.icon-clockwise:before {
  content: "\5e";
}
.icon-cloud:before {
  content: "\5f";
}
.icon-cloud-download:before {
  content: "\60";
}
.icon-cloud-folder:before {
  content: "\7b";
}
.icon-cloud-upload:before {
  content: "\7c";
}
.icon-clouds:before {
  content: "\7d";
}
.icon-cloudy:before {
  content: "\7e";
}
.icon-cocktail:before {
  content: "\5c";
}
.icon-coffee:before {
  content: "\e000";
}
.icon-coffee-and-cream:before {
  content: "\e001";
}
.icon-coffee-and-sugar:before {
  content: "\e002";
}
.icon-coffee-bean:before {
  content: "\e003";
}
.icon-coffee-can:before {
  content: "\e004";
}
.icon-coffee-cups:before {
  content: "\e005";
}
.icon-coffee-milk:before {
  content: "\e006";
}
.icon-coffee-mug:before {
  content: "\e007";
}
.icon-coins:before {
  content: "\e008";
}
.icon-colander:before {
  content: "\e009";
}
.icon-columns:before {
  content: "\e00a";
}
.icon-compass:before {
  content: "\e00b";
}
.icon-compass-navigate:before {
  content: "\e00c";
}
.icon-compose:before {
  content: "\e00d";
}
.icon-computer:before {
  content: "\e00e";
}
.icon-computer-2:before {
  content: "\e00f";
}
.icon-computer-chip:before {
  content: "\e010";
}
.icon-computer-mouse:before {
  content: "\e011";
}
.icon-connection:before {
  content: "\e012";
}
.icon-containers:before {
  content: "\e013";
}
.icon-contract:before {
  content: "\e014";
}
.icon-corn:before {
  content: "\e015";
}
.icon-counterclockwise:before {
  content: "\e016";
}
.icon-credit-card:before {
  content: "\e017";
}
.icon-credit-card-2:before {
  content: "\e018";
}
.icon-crop:before {
  content: "\e019";
}
.icon-crosshair:before {
  content: "\e01a";
}
.icon-cruise-ship:before {
  content: "\e01b";
}
.icon-cucumber-slices:before {
  content: "\e01c";
}
.icon-cursor:before {
  content: "\e01d";
}
.icon-dashboard:before {
  content: "\e01e";
}
.icon-database:before {
  content: "\e01f";
}
.icon-delete:before {
  content: "\e020";
}
.icon-delete-calendar:before {
  content: "\e021";
}
.icon-delete-cart:before {
  content: "\e022";
}
.icon-delete-file:before {
  content: "\e023";
}
.icon-delete-user:before {
  content: "\e024";
}
.icon-delivery-truck:before {
  content: "\e025";
}
.icon-delivery-van:before {
  content: "\e026";
}
.icon-departure:before {
  content: "\e027";
}
.icon-descend:before {
  content: "\e028";
}
.icon-direct-left:before {
  content: "\e029";
}
.icon-direct-right:before {
  content: "\e02a";
}
.icon-directions:before {
  content: "\e02b";
}
.icon-disc:before {
  content: "\e02c";
}
.icon-dish-washer:before {
  content: "\e02d";
}
.icon-dna:before {
  content: "\e02e";
}
.icon-do-not-disturb:before {
  content: "\e02f";
}
.icon-doc:before {
  content: "\e030";
}
.icon-down:before {
  content: "\e031";
}
.icon-down-left:before {
  content: "\e032";
}
.icon-down-right:before {
  content: "\e033";
}
.icon-download:before {
  content: "\e034";
}
.icon-download-book:before {
  content: "\e035";
}
.icon-download-cart:before {
  content: "\e036";
}
.icon-download-file:before {
  content: "\e037";
}
.icon-download-folder:before {
  content: "\e038";
}
.icon-downwards-bar-chart:before {
  content: "\e039";
}
.icon-downwards-line-chart:before {
  content: "\e03a";
}
.icon-drinking:before {
  content: "\e03b";
}
.icon-drop:before {
  content: "\e03c";
}
.icon-dumbbell:before {
  content: "\e03d";
}
.icon-duplicate-document:before {
  content: "\e03e";
}
.icon-duster:before {
  content: "\e03f";
}
.icon-dvd-player:before {
  content: "\e040";
}
.icon-e-book:before {
  content: "\e041";
}
.icon-e-reader:before {
  content: "\e042";
}
.icon-earbuds:before {
  content: "\e043";
}
.icon-egg-timer:before {
  content: "\e044";
}
.icon-eight-ball:before {
  content: "\e045";
}
.icon-eighth-note:before {
  content: "\e046";
}
.icon-eject:before {
  content: "\e047";
}
.icon-elevator:before {
  content: "\e048";
}
.icon-email:before {
  content: "\e049";
}
.icon-empty-cart:before {
  content: "\e04a";
}
.icon-eraser:before {
  content: "\e04b";
}
.icon-evergreen:before {
  content: "\e04c";
}
.icon-exe:before {
  content: "\e04d";
}
.icon-exercise:before {
  content: "\e04e";
}
.icon-exercise-bike:before {
  content: "\e04f";
}
.icon-expand:before {
  content: "\e050";
}
.icon-export-file:before {
  content: "\e051";
}
.icon-extra-sugar:before {
  content: "\e052";
}
.icon-eyedropper:before {
  content: "\e053";
}
.icon-eyelift:before {
  content: "\e054";
}
.icon-facetime:before {
  content: "\e055";
}
.icon-fan:before {
  content: "\e056";
}
.icon-fast-forward:before {
  content: "\e057";
}
.icon-fax:before {
  content: "\e058";
}
.icon-female-face:before {
  content: "\e059";
}
.icon-female-user:before {
  content: "\e05a";
}
.icon-field-hockey:before {
  content: "\e05b";
}
.icon-file:before {
  content: "\e05c";
}
.icon-firewall:before {
  content: "\e05d";
}
.icon-first-quarter-moon:before {
  content: "\e05e";
}
.icon-fish:before {
  content: "\e05f";
}
.icon-fishes:before {
  content: "\e060";
}
.icon-five-die:before {
  content: "\e061";
}
.icon-flag:before {
  content: "\e062";
}
.icon-flame:before {
  content: "\e063";
}
.icon-flash:before {
  content: "\e064";
}
.icon-floorplan:before {
  content: "\e065";
}
.icon-fog:before {
  content: "\e066";
}
.icon-folder:before {
  content: "\e067";
}
.icon-folder-in:before {
  content: "\e068";
}
.icon-folder-out:before {
  content: "\e069";
}
.icon-font:before {
  content: "\e06a";
}
.icon-football:before {
  content: "\e06b";
}
.icon-fork:before {
  content: "\e06c";
}
.icon-forklift:before {
  content: "\e06d";
}
.icon-form:before {
  content: "\e06e";
}
.icon-fountain-pen:before {
  content: "\e06f";
}
.icon-four-die:before {
  content: "\e070";
}
.icon-fragile:before {
  content: "\e071";
}
.icon-fragile-cargo:before {
  content: "\e072";
}
.icon-fridge:before {
  content: "\e073";
}
.icon-fries:before {
  content: "\e074";
}
.icon-fuel:before {
  content: "\e075";
}
.icon-full-battery:before {
  content: "\e076";
}
.icon-garage:before {
  content: "\e077";
}
.icon-gif-file:before {
  content: "\e078";
}
.icon-gift:before {
  content: "\e079";
}
.icon-glass-wash:before {
  content: "\e07a";
}
.icon-glasses:before {
  content: "\e07b";
}
.icon-globe:before {
  content: "\e07c";
}
.icon-globe-location:before {
  content: "\e07d";
}
.icon-golf:before {
  content: "\e07e";
}
.icon-gondola-lift:before {
  content: "\e07f";
}
.icon-grapes:before {
  content: "\e080";
}
.icon-grass:before {
  content: "\e081";
}
.icon-green-tag:before {
  content: "\e082";
}
.icon-gridlines:before {
  content: "\e083";
}
.icon-hail:before {
  content: "\e084";
}
.icon-hairdryer:before {
  content: "\e085";
}
.icon-half-heart:before {
  content: "\e086";
}
.icon-half-star:before {
  content: "\e087";
}
.icon-hamburger:before {
  content: "\e088";
}
.icon-hanger:before {
  content: "\e089";
}
.icon-harddrive:before {
  content: "\e08a";
}
.icon-healthy-heart:before {
  content: "\e08b";
}
.icon-heart:before {
  content: "\e08c";
}
.icon-heart-mobile:before {
  content: "\e08d";
}
.icon-heart-shape:before {
  content: "\e08e";
}
.icon-helicopter:before {
  content: "\e08f";
}
.icon-help:before {
  content: "\e090";
}
.icon-high-battery:before {
  content: "\e091";
}
.icon-high-volume:before {
  content: "\e092";
}
.icon-highlight:before {
  content: "\e093";
}
.icon-highway-sign:before {
  content: "\e094";
}
.icon-home:before {
  content: "\e095";
}
.icon-hook:before {
  content: "\e096";
}
.icon-horizontal-bar-chart:before {
  content: "\e097";
}
.icon-hospital:before {
  content: "\e098";
}
.icon-hot-chocolate-and-cream:before {
  content: "\e099";
}
.icon-hot-sauce:before {
  content: "\e09a";
}
.icon-hot-tea:before {
  content: "\e09b";
}
.icon-house-sale:before {
  content: "\e09c";
}
.icon-ice-coffee:before {
  content: "\e09d";
}
.icon-ice-cream:before {
  content: "\e09e";
}
.icon-ice-skate:before {
  content: "\e09f";
}
.icon-idea:before {
  content: "\e0a0";
}
.icon-import-file:before {
  content: "\e0a1";
}
.icon-inbox:before {
  content: "\e0a2";
}
.icon-index:before {
  content: "\e0a3";
}
.icon-info:before {
  content: "\e0a4";
}
.icon-insert-coffee-cups:before {
  content: "\e0a5";
}
.icon-island:before {
  content: "\e0a6";
}
.icon-jerrycan:before {
  content: "\e0a7";
}
.icon-jpg:before {
  content: "\e0a8";
}
.icon-jumprope:before {
  content: "\e0a9";
}
.icon-key:before {
  content: "\e0aa";
}
.icon-kitchen-hood:before {
  content: "\e0ab";
}
.icon-kitchen-hood-2:before {
  content: "\e0ac";
}
.icon-knife:before {
  content: "\e0ad";
}
.icon-knob:before {
  content: "\e0ae";
}
.icon-laptop:before {
  content: "\e0af";
}
.icon-latte-macchiato:before {
  content: "\e0b0";
}
.icon-latte-macchiato-2:before {
  content: "\e0b1";
}
.icon-layers:before {
  content: "\e0b2";
}
.icon-layout:before {
  content: "\e0b3";
}
.icon-leaf:before {
  content: "\e0b4";
}
.icon-left:before {
  content: "\e0b5";
}
.icon-left-right:before {
  content: "\e0b6";
}
.icon-lemon:before {
  content: "\e0b7";
}
.icon-light-snow:before {
  content: "\e0b8";
}
.icon-lightbulb:before {
  content: "\e0b9";
}
.icon-lightning-rain:before {
  content: "\e0ba";
}
.icon-line-chart-clipboard:before {
  content: "\e0bb";
}
.icon-line-charts:before {
  content: "\e0bc";
}
.icon-link:before {
  content: "\e0bd";
}
.icon-list:before {
  content: "\e0be";
}
.icon-lithograph:before {
  content: "\e0bf";
}
.icon-loading:before {
  content: "\e0c0";
}
.icon-location:before {
  content: "\e0c1";
}
.icon-lock:before {
  content: "\e0c2";
}
.icon-lock-file:before {
  content: "\e0c3";
}
.icon-lock-folder:before {
  content: "\e0c4";
}
.icon-lock-mobile:before {
  content: "\e0c5";
}
.icon-locomotive:before {
  content: "\e0c6";
}
.icon-login:before {
  content: "\e0c7";
}
.icon-logout:before {
  content: "\e0c8";
}
.icon-low-battery:before {
  content: "\e0c9";
}
.icon-low-volume:before {
  content: "\e0ca";
}
.icon-luggage:before {
  content: "\e0cb";
}
.icon-male-face:before {
  content: "\e0cc";
}
.icon-man:before {
  content: "\e0cd";
}
.icon-map:before {
  content: "\e0ce";
}
.icon-map-location:before {
  content: "\e0cf";
}
.icon-measuring-cup:before {
  content: "\e0d0";
}
.icon-medal:before {
  content: "\e0d1";
}
.icon-medical-cross:before {
  content: "\e0d2";
}
.icon-medical-thermometer:before {
  content: "\e0d3";
}
.icon-medium-battery:before {
  content: "\e0d4";
}
.icon-megaphone:before {
  content: "\e0d5";
}
.icon-merge:before {
  content: "\e0d6";
}
.icon-microphone:before {
  content: "\e0d7";
}
.icon-microwave:before {
  content: "\e0d8";
}
.icon-milk-container:before {
  content: "\e0d9";
}
.icon-minisafe:before {
  content: "\e0da";
}
.icon-minus:before {
  content: "\e0db";
}
.icon-mobile-dollar-payment:before {
  content: "\e0dc";
}
.icon-mobile-euro-payment:before {
  content: "\e0dd";
}
.icon-money-bag:before {
  content: "\e0de";
}
.icon-money-withdrawal:before {
  content: "\e0df";
}
.icon-moon:before {
  content: "\e0e0";
}
.icon-motorcycle:before {
  content: "\e0e1";
}
.icon-move:before {
  content: "\e0e2";
}
.icon-movie-folder:before {
  content: "\e0e3";
}
.icon-moving-box:before {
  content: "\e0e4";
}
.icon-moving-box-down:before {
  content: "\e0e5";
}
.icon-mp3-file:before {
  content: "\e0e6";
}
.icon-multiple-layers:before {
  content: "\e0e7";
}
.icon-music:before {
  content: "\e0e8";
}
.icon-navigate:before {
  content: "\e0e9";
}
.icon-navigate-down:before {
  content: "\e0ea";
}
.icon-navigate-left:before {
  content: "\e0eb";
}
.icon-navigate-right:before {
  content: "\e0ec";
}
.icon-navigate-up:before {
  content: "\e0ed";
}
.icon-navigation-device:before {
  content: "\e0ee";
}
.icon-navigation-mobile:before {
  content: "\e0ef";
}
.icon-new:before {
  content: "\e0f0";
}
.icon-newspaper:before {
  content: "\e0f1";
}
.icon-next-page:before {
  content: "\e0f2";
}
.icon-no-entrance:before {
  content: "\e0f3";
}
.icon-no-smoking:before {
  content: "\e0f4";
}
.icon-notebook:before {
  content: "\e0f5";
}
.icon-office-building:before {
  content: "\e0f6";
}
.icon-office-building-2:before {
  content: "\e0f7";
}
.icon-olive-oil:before {
  content: "\e0f8";
}
.icon-one-die:before {
  content: "\e0f9";
}
.icon-onion:before {
  content: "\e0fa";
}
.icon-online-banking:before {
  content: "\e0fb";
}
.icon-open-book:before {
  content: "\e0fc";
}
.icon-open-folder:before {
  content: "\e0fd";
}
.icon-open-hand-right:before {
  content: "\e0fe";
}
.icon-outbox:before {
  content: "\e0ff";
}
.icon-outlet:before {
  content: "\e100";
}
.icon-oven:before {
  content: "\e101";
}
.icon-page-curl:before {
  content: "\e102";
}
.icon-paint-roller:before {
  content: "\e103";
}
.icon-pan-on-fire:before {
  content: "\e104";
}
.icon-pan-wash:before {
  content: "\e105";
}
.icon-paper-shredder:before {
  content: "\e106";
}
.icon-paperclip:before {
  content: "\e107";
}
.icon-paprika:before {
  content: "\e108";
}
.icon-passport:before {
  content: "\e109";
}
.icon-pause:before {
  content: "\e10a";
}
.icon-pdf:before {
  content: "\e10b";
}
.icon-pencil:before {
  content: "\e10c";
}
.icon-pencil-2:before {
  content: "\e10d";
}
.icon-pencil-disabled:before {
  content: "\e10e";
}
.icon-pepper-mill:before {
  content: "\e10f";
}
.icon-percentage:before {
  content: "\e110";
}
.icon-phone:before {
  content: "\e111";
}
.icon-phone-disabled:before {
  content: "\e112";
}
.icon-phone-mobile:before {
  content: "\e113";
}
.icon-photo:before {
  content: "\e114";
}
.icon-picnic-table:before {
  content: "\e115";
}
.icon-picture-file:before {
  content: "\e116";
}
.icon-picture-folder:before {
  content: "\e117";
}
.icon-pie-chart:before {
  content: "\e118";
}
.icon-pie-chart-2:before {
  content: "\e119";
}
.icon-piggy-bank:before {
  content: "\e11a";
}
.icon-pill:before {
  content: "\e11b";
}
.icon-pill-bottle:before {
  content: "\e11c";
}
.icon-pin:before {
  content: "\e11d";
}
.icon-pin-note:before {
  content: "\e11e";
}
.icon-pirate-ship:before {
  content: "\e11f";
}
.icon-pixel:before {
  content: "\e120";
}
.icon-pizza:before {
  content: "\e121";
}
.icon-pizza-slice:before {
  content: "\e122";
}
.icon-pizza-slicer:before {
  content: "\e123";
}
.icon-plate-wash:before {
  content: "\e124";
}
.icon-plates:before {
  content: "\e125";
}
.icon-play:before {
  content: "\e126";
}
.icon-play-video:before {
  content: "\e127";
}
.icon-plug:before {
  content: "\e128";
}
.icon-plus:before {
  content: "\e129";
}
.icon-png:before {
  content: "\e12a";
}
.icon-pointing-left-up:before {
  content: "\e12b";
}
.icon-pointing-right:before {
  content: "\e12c";
}
.icon-power-mobile:before {
  content: "\e12d";
}
.icon-ppt:before {
  content: "\e12e";
}
.icon-price-tag:before {
  content: "\e12f";
}
.icon-printer:before {
  content: "\e130";
}
.icon-pushpin:before {
  content: "\e131";
}
.icon-puzzle:before {
  content: "\e132";
}
.icon-quill:before {
  content: "\e133";
}
.icon-quotes:before {
  content: "\e134";
}
.icon-radio:before {
  content: "\e135";
}
.icon-rain:before {
  content: "\e136";
}
.icon-rain-2:before {
  content: "\e137";
}
.icon-rainbow:before {
  content: "\e138";
}
.icon-rainbow-2:before {
  content: "\e139";
}
.icon-rar-file:before {
  content: "\e13a";
}
.icon-read-online:before {
  content: "\e13b";
}
.icon-realty-online:before {
  content: "\e13c";
}
.icon-receipt:before {
  content: "\e13d";
}
.icon-record:before {
  content: "\e13e";
}
.icon-recycle-cups:before {
  content: "\e13f";
}
.icon-redirect:before {
  content: "\e140";
}
.icon-refill:before {
  content: "\e141";
}
.icon-refresh:before {
  content: "\e142";
}
.icon-reload:before {
  content: "\e143";
}
.icon-remove-calendar:before {
  content: "\e144";
}
.icon-remove-cart:before {
  content: "\e145";
}
.icon-remove-file:before {
  content: "\e146";
}
.icon-remove-user:before {
  content: "\e147";
}
.icon-repeat:before {
  content: "\e148";
}
.icon-replay:before {
  content: "\e149";
}
.icon-reply:before {
  content: "\e14a";
}
.icon-restaurant:before {
  content: "\e14b";
}
.icon-resume:before {
  content: "\e14c";
}
.icon-retweet:before {
  content: "\e14d";
}
.icon-rewind:before {
  content: "\e14e";
}
.icon-ribbon:before {
  content: "\e14f";
}
.icon-right:before {
  content: "\e150";
}
.icon-rightward:before {
  content: "\e151";
}
.icon-road:before {
  content: "\e152";
}
.icon-rocket:before {
  content: "\e153";
}
.icon-romantic-book:before {
  content: "\e154";
}
.icon-rows:before {
  content: "\e155";
}
.icon-rss:before {
  content: "\e156";
}
.icon-rss-mobile:before {
  content: "\e157";
}
.icon-rubber-eraser:before {
  content: "\e158";
}
.icon-rubber-stamp:before {
  content: "\e159";
}
.icon-safe:before {
  content: "\e15a";
}
.icon-sailboat:before {
  content: "\e15b";
}
.icon-salad:before {
  content: "\e15c";
}
.icon-salt:before {
  content: "\e15d";
}
.icon-sausage:before {
  content: "\e15e";
}
.icon-save:before {
  content: "\e15f";
}
.icon-scale-down:before {
  content: "\e160";
}
.icon-scale-up:before {
  content: "\e161";
}
.icon-scales-of-justice:before {
  content: "\e162";
}
.icon-scatter-charts:before {
  content: "\e163";
}
.icon-screenshot:before {
  content: "\e164";
}
.icon-search:before {
  content: "\e165";
}
.icon-search-book:before {
  content: "\e166";
}
.icon-search-house:before {
  content: "\e167";
}
.icon-second-quarter-moon:before {
  content: "\e168";
}
.icon-secure-folder:before {
  content: "\e169";
}
.icon-seedling:before {
  content: "\e16a";
}
.icon-send:before {
  content: "\e16b";
}
.icon-settings:before {
  content: "\e16c";
}
.icon-settings-file:before {
  content: "\e16d";
}
.icon-share:before {
  content: "\e16e";
}
.icon-share-2:before {
  content: "\e16f";
}
.icon-shop-online:before {
  content: "\e170";
}
.icon-shopping-bag:before {
  content: "\e171";
}
.icon-shopping-basket:before {
  content: "\e172";
}
.icon-shopping-cart:before {
  content: "\e173";
}
.icon-shower:before {
  content: "\e174";
}
.icon-shower-rain:before {
  content: "\e175";
}
.icon-shrimp:before {
  content: "\e176";
}
.icon-shuffle:before {
  content: "\e177";
}
.icon-six-die:before {
  content: "\e178";
}
.icon-skip-back:before {
  content: "\e179";
}
.icon-skip-forward:before {
  content: "\e17a";
}
.icon-smart-phone:before {
  content: "\e17b";
}
.icon-snow-crystal:before {
  content: "\e17c";
}
.icon-snowfall:before {
  content: "\e17d";
}
.icon-snowfall-2:before {
  content: "\e17e";
}
.icon-snowflake:before {
  content: "\e17f";
}
.icon-snowy-pine-tree:before {
  content: "\e180";
}
.icon-soccer:before {
  content: "\e181";
}
.icon-solar-panel:before {
  content: "\e182";
}
.icon-spaghetti:before {
  content: "\e183";
}
.icon-spaghetti-2:before {
  content: "\e184";
}
.icon-speaker:before {
  content: "\e185";
}
.icon-spoon-fork:before {
  content: "\e186";
}
.icon-star:before {
  content: "\e187";
}
.icon-statistics:before {
  content: "\e188";
}
.icon-steak:before {
  content: "\e189";
}
.icon-steam:before {
  content: "\e18a";
}
.icon-steering-wheel:before {
  content: "\e18b";
}
.icon-stethoscope:before {
  content: "\e18c";
}
.icon-stock:before {
  content: "\e18d";
}
.icon-stop:before {
  content: "\e18e";
}
.icon-stop-gesture:before {
  content: "\e18f";
}
.icon-stopwatch:before {
  content: "\e190";
}
.icon-stove:before {
  content: "\e191";
}
.icon-strawberry:before {
  content: "\e192";
}
.icon-street-location:before {
  content: "\e193";
}
.icon-suitcase:before {
  content: "\e194";
}
.icon-sun:before {
  content: "\e195";
}
.icon-sunrise:before {
  content: "\e196";
}
.icon-sunscreen:before {
  content: "\e197";
}
.icon-sunset:before {
  content: "\e198";
}
.icon-supplements:before {
  content: "\e199";
}
.icon-swimming-pool:before {
  content: "\e19a";
}
.icon-sync:before {
  content: "\e19b";
}
.icon-syringe:before {
  content: "\e19c";
}
.icon-table-tennis:before {
  content: "\e19d";
}
.icon-tables:before {
  content: "\e19e";
}
.icon-tablet:before {
  content: "\e19f";
}
.icon-tag:before {
  content: "\e1a0";
}
.icon-tape-measure:before {
  content: "\e1a1";
}
.icon-target:before {
  content: "\e1a2";
}
.icon-taxi:before {
  content: "\e1a3";
}
.icon-tea-bag:before {
  content: "\e1a4";
}
.icon-teddy-bear:before {
  content: "\e1a5";
}
.icon-temperature:before {
  content: "\e1a6";
}
.icon-temperature-falling:before {
  content: "\e1a7";
}
.icon-temperature-rising:before {
  content: "\e1a8";
}
.icon-tennis:before {
  content: "\e1a9";
}
.icon-text:before {
  content: "\e1aa";
}
.icon-text-file:before {
  content: "\e1ab";
}
.icon-text-file-2:before {
  content: "\e1ac";
}
.icon-text-mobile:before {
  content: "\e1ad";
}
.icon-this-side-up:before {
  content: "\e1ae";
}
.icon-three-die:before {
  content: "\e1af";
}
.icon-thumbnails:before {
  content: "\e1b0";
}
.icon-thumbs-down:before {
  content: "\e1b1";
}
.icon-thumbs-up:before {
  content: "\e1b2";
}
.icon-thunderstorm:before {
  content: "\e1b3";
}
.icon-tip:before {
  content: "\e1b4";
}
.icon-toaster:before {
  content: "\e1b5";
}
.icon-tornado:before {
  content: "\e1b6";
}
.icon-tractor:before {
  content: "\e1b7";
}
.icon-traffic-camera:before {
  content: "\e1b8";
}
.icon-traffic-light:before {
  content: "\e1b9";
}
.icon-train:before {
  content: "\e1ba";
}
.icon-train-tunnel:before {
  content: "\e1bb";
}
.icon-trash:before {
  content: "\e1bc";
}
.icon-tree:before {
  content: "\e1bd";
}
.icon-tropical-fish:before {
  content: "\e1be";
}
.icon-truck:before {
  content: "\e1bf";
}
.icon-tunnel:before {
  content: "\e1c0";
}
.icon-turkey:before {
  content: "\e1c1";
}
.icon-twinbed:before {
  content: "\e1c2";
}
.icon-two-die:before {
  content: "\e1c3";
}
.icon-umbrella:before {
  content: "\e1c4";
}
.icon-unlink:before {
  content: "\e1c5";
}
.icon-unlock:before {
  content: "\e1c6";
}
.icon-up:before {
  content: "\e1c7";
}
.icon-up-left:before {
  content: "\e1c8";
}
.icon-up-right:before {
  content: "\e1c9";
}
.icon-upload:before {
  content: "\e1ca";
}
.icon-upload-file:before {
  content: "\e1cb";
}
.icon-upload-folder:before {
  content: "\e1cc";
}
.icon-upwards-bar-chart:before {
  content: "\e1cd";
}
.icon-upwards-line-chart:before {
  content: "\e1ce";
}
.icon-usb:before {
  content: "\e1cf";
}
.icon-user:before {
  content: "\e1d0";
}
.icon-user-group:before {
  content: "\e1d1";
}
.icon-user-profile:before {
  content: "\e1d2";
}
.icon-users:before {
  content: "\e1d3";
}
.icon-vector:before {
  content: "\e1d4";
}
.icon-video-camera:before {
  content: "\e1d5";
}
.icon-video-camera-front:before {
  content: "\e1d6";
}
.icon-video-game:before {
  content: "\e1d7";
}
.icon-view:before {
  content: "\e1d8";
}
.icon-vinyl-record:before {
  content: "\e1d9";
}
.icon-volume:before {
  content: "\e1da";
}
.icon-walking:before {
  content: "\e1db";
}
.icon-walky-talky:before {
  content: "\e1dc";
}
.icon-warehouse:before {
  content: "\e1dd";
}
.icon-washing-machine:before {
  content: "\e1de";
}
.icon-watch:before {
  content: "\e1df";
}
.icon-water-cooker:before {
  content: "\e1e0";
}
.icon-waterbottle:before {
  content: "\e1e1";
}
.icon-weather:before {
  content: "\e1e2";
}
.icon-weather-online:before {
  content: "\e1e3";
}
.icon-weather-vane:before {
  content: "\e1e4";
}
.icon-webcam:before {
  content: "\e1e5";
}
.icon-weight:before {
  content: "\e1e6";
}
.icon-weight-scale:before {
  content: "\e1e7";
}
.icon-wheelchair:before {
  content: "\e1e8";
}
.icon-whisk:before {
  content: "\e1e9";
}
.icon-wifi:before {
  content: "\e1ea";
}
.icon-wifi-book:before {
  content: "\e1eb";
}
.icon-wifi-envelope:before {
  content: "\e1ec";
}
.icon-wifi-open-book:before {
  content: "\e1ed";
}
.icon-wind:before {
  content: "\e1ee";
}
.icon-wind-vane:before {
  content: "\e1ef";
}
.icon-wine-bottle:before {
  content: "\e1f0";
}
.icon-wine-glass:before {
  content: "\e1f1";
}
.icon-woman:before {
  content: "\e1f2";
}
.icon-world:before {
  content: "\e1f3";
}
.icon-wrench:before {
  content: "\e1f4";
}
.icon-write-check:before {
  content: "\e1f5";
}
.icon-yoga:before {
  content: "\e1f6";
}
.icon-zip:before {
  content: "\e1f7";
}
.icon-zoom-in:before {
  content: "\e1f8";
}
.icon-zoom-out:before {
  content: "\e1f9";
}